/*
  index.html only
*/

#content{
  font-size: 40px;
  margin-top: 15%;
}


#write{
  cursor: pointer;
  font-size: 50px;
  border: 2px solid #000;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

/*
  Write button text
  It's made because this div replace button
*/

#write::before {
  content: "Write";
}

#write:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/*
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
*/
