/*
  write.html only
*/
*{
  margin: 0;
  padding: 0;
}

.letter{
  box-sizing: border-box;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 42px;
  border: none;
  border-bottom: 3px solid black;
  text-align: center;
  caret-color: transparent;
}

.letter:focus{
  outline: none;
  color: white;
}

.word{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
}
/*
  42 * 20 = 840
*/
#text{
  width: 840px;
  margin-left: 25%;
}

#content{
  margin-top: 10%;
}

/*
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
*/
