letter{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 50px
}

.correct{
  color: green;
}

.wrong{
  color: red;
}

.active{
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(255, 255, 255, 0.1);

  animation-name: blink;
  animation-duration: 0.5s;
}

.space{
  color: #880808;
}

@keyframes blink {
  0%   {color: rgba(255, 255, 255, 1);background-color: rgba(0, 0, 0, 0.3)}
  100% {color: rgba(255, 255, 255, 0.75);background-color: rgba(255, 255, 255, 0.1)}
}

#timer{
  font-size: 60px;
}

#again{
  cursor: pointer;
  font-size: 50px;
  border: 2px solid #000;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

#again::before {
  content: "Again?";
}

#again:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
