letter{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.placeHolder{
  color: rgba(0, 0, 0, 0.4);
}

.correct{
  color: green;
}

.wrong{
  color: red;
}

.active{
  color: rgba(255, 255, 255, 0.75);

  animation-name: blinking;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0%   {color: rgba(255, 255, 255, 0.8);}
  50% {color: rgba(255, 255, 255, 0.4);}
  100% {color: rgba(255, 255, 255, 0.8);}
}
