/*
  write.html only
*/
*{
  margin: 0;
  padding: 0;
}

.letter{
  box-sizing: border-box;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 42px;
  border: none;
  /*border-bottom: 3px solid black;*/
  text-align: center;
  caret-color: transparent;
}

.letter:focus{
  outline: none;
  color: white;
}

.word{
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  /*border-left: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;*/
}
/*
  42 * 20 = 840
*/
#text{
  width: 840px;
  margin-left: 25%;
}

#content{
  margin-top: 10%;
}

#typing::before{
  content:"Typing...";
  animation-name: typing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes typing  {
  0%   {content:"Typing...";}
  17%  {content:"Typing..";}
  34%  {content:"Typing.";}
  51%  {content:"Typing";}
  68%  {content:"Typing.";}
  85%  {content:"Typing..";}
  100%  {content:"Typing...";}
}
